.header {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: gray 1px solid;
  padding: 16px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-text-logo {
  line-height: 0.3;
}
.logo {
  text-transform: uppercase;
}
.header-actions {
  display: flex;
  gap: 100px;
  margin-right: 30px;
}
.search-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
.cart-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
.favorites-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
.profile-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
