<header class="header">
  <div class="container">
    <div class="header-logo">
      <img ngSrc="/logo.png" alt="logo" height="60" width="60">
      <div class="header-text-logo">
        <h2 class="logo">Sneakers</h2>
        <p class="logo1">Best sneakers store</p>
      </div>
    </div>
    <div class="header-actions">
      <button class="search-btn">
        <img src="/poisk.svg" alt="cart" height="20" width="20">
        Search</button>
      <button class="cart-btn">
        <img src="/cart.svg" alt="cart">
        1235p.</button>
      <button class="favorites-btn">
        <img src="/heart.svg" alt="cart">
        Favorites</button>
      <button class="profile-btn">
        <img src="/profile.svg" alt="cart">
        Log In</button>
    </div>
  </div>
</header>
